In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('foo.csv')
df

    before  after  difference  wotevr
0        1    211         210     224
1        2    572           2     585
2        3    558           3     571
3        4    250           4     263
4        5    478           5     491
5        6    307           6     320
6        7    184           7     197
7        8    435           8     448
8        9    460           9     473
9       10    308          10     321
10      11    188          11     201
11      12    111          12     124
12      13    676          13     689
13      14    326          14     339
14      15    142          15     155
15      16    255          16     268
16      17    205          17     218
17      18     77          18      90
18      19    190          19     203
19      20    320          20     333
20      21    407          21     420
21      22    333          22     346
22      23    488          23     501
23      24    374          24     387
24      25    409          25     422

In [3]:
df[['before', 'after']]

    before  after
0        1    211
1        2    572
2        3    558
3        4    250
4        5    478
5        6    307
6        7    184
7        8    435
8        9    460
9       10    308
10      11    188
11      12    111
12      13    676
13      14    326
14      15    142
15      16    255
16      17    205
17      18     77
18      19    190
19      20    320
20      21    407
21      22    333
22      23    488
23      24    374
24      25    409

In [4]:
df

    before  after  difference  wotevr
0        1    211         210     224
1        2    572           2     585
2        3    558           3     571
3        4    250           4     263
4        5    478           5     491
5        6    307           6     320
6        7    184           7     197
7        8    435           8     448
8        9    460           9     473
9       10    308          10     321
10      11    188          11     201
11      12    111          12     124
12      13    676          13     689
13      14    326          14     339
14      15    142          15     155
15      16    255          16     268
16      17    205          17     218
17      18     77          18      90
18      19    190          19     203
19      20    320          20     333
20      21    407          21     420
21      22    333          22     346
22      23    488          23     501
23      24    374          24     387
24      25    409          25     422

In [6]:
after = df[['before', 'after']]
after

    before  after
0        1    211
1        2    572
2        3    558
3        4    250
4        5    478
5        6    307
6        7    184
7        8    435
8        9    460
9       10    308
10      11    188
11      12    111
12      13    676
13      14    326
14      15    142
15      16    255
16      17    205
17      18     77
18      19    190
19      20    320
20      21    407
21      22    333
22      23    488
23      24    374
24      25    409

In [16]:
another = df[['after', 'difference', 'wotever']]
another

KeyError: "['wotever'] not in index"

In [15]:
after

    before  after
0        1    211
1        2    572
2        3    558
3        4    250
4        5    478
5        6    307
6        7    184
7        8    435
8        9    460
9       10    308
10      11    188
11      12    111
12      13    676
13      14    326
14      15    142
15      16    255
16      17    205
17      18     77
18      19    190
19      20    320
20      21    407
21      22    333
22      23    488
23      24    374
24      25    409